<div class="container">
  <h1>信息统计</h1>
  <hr>
  <form #userForm='ngForm' (ngSubmit)='onSubmit(userForm.value)'>
    <div class="form-group">
      <label for="name">用户名</label>
      <input #username='ngModel' ngModel name="username" type="text" class="form-control" required>
    </div>

    <div ngModelGroup='userInfo'>
      <div class="form-group">
        <label for="alterEgo">手机号</label>
        <input ngModel name="phone" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="area">所在地</label>
        <input ngModel name="area" type="text" class="form-control">
      </div>
    </div>

    <button type="submit" class="btn btn-success">提交</button>

  </form>
</div>
<hr>
<div>
  {{userForm.value | json}}
</div>
<hr>
<div>
  username: {{username.value}}
</div>