<!-- Swiper -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="http://placehold.it/800x300" alt="">
    </div>
    <div class="swiper-slide">
      <img src="http://placehold.it/800x300" alt="">
    </div>
    <div class="swiper-slide">
      <img src="http://placehold.it/800x300" alt="">
    </div>
  </div>

  <!-- Add Navigation Buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</div>