<!-- 1. ========================= -->

<!-- <app-life [name]="title"></app-life> -->

<!-- 2. ========================= -->

<!-- <div class="parent">
  <h2>父组件</h2>
  <div>问候语：<input type="text" [(ngModel)]="greeting"> -- <b>可变对象</b> 调用 OnChanges 事件</div>
  <div>姓名：&nbsp;&nbsp;&nbsp;<input type="text" [(ngModel)]="user.name"> -- <b>不可变对象</b> 不调用 OnChanges 事件</div>
</div>
<app-child [greeting]="greeting" [user]="user"></app-child> -->

<!-- 3. ========================= -->
<app-parent-a></app-parent-a>